#hc-stats {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 1;
  background: rgba(0,0,0,0.36);
  color: #fff;
  font-size: 19px;
  padding: 10px 10px;
  border-radius: 5px;
}
.hc_sr_summary .hc_sri.hc-wins {
  background-color: rgba(111,255,119,0.4);
}
.hc_sr_summary .hc_sri.hc-loses {
  background-color: rgba(212,218,0,0.23);
}
.hc_sr_summary .hc_sri.hc-nos {
  background-color: rgba(255,129,124,0.35);
}
.hc-green {
  color: #008000;
}
.hc-yellow {
  color: #ff0;
}
.hc-red {
  color: #f00;
}

