#hc-stats
    position fixed
    top 90px
    right 20px
    z-index 1000
    background rgba(0, 0, 0, 0.7)
    color #fff
    font-size 19px
    padding 10px 10px
    border-radius 5px
    font-family Monaco, Sans-serif
    font-size 14px


    .row
        margin-bottom 5px

    .share-dynamics
        font-size 12px

.hc_sr_summary

    .hc_sri.hc-wins
        background-color rgba(111, 255, 119, 0.4)

    .hc_sri.hc-loses
        background-color rgba(212, 218, 0, 0.23)

    .hc_sri.hc-nos
        background-color rgba(255, 129, 124, 0.35)

.hc-green
    color green

.hc-yellow
    color yellow

.hc-red
    color red
